.container{
  width: 80%;
  margin: auto;
  text-align: center;
}

.hero-card{
  display: inline-block;
  height: 200px;
  width: 200px;
  background-color: #230C33;
  margin-bottom: 1rem;
  margin-right: 1rem;
  border-radius: 20px;
  padding: 1rem;
  color: lightgray;
}

.hero-card h2{
  display: inline;
  font-size: 1.2rem;
}

.hero-card h3{
  font-size: 1rem;
}

.hero-img-holder{
  display: inline-block;
  float: left;
  height: 40px;
  width: 65px;
}

.hero-img-holder img{
  height: 100%;
  width: 100%;
  float: left;
  object-fit: cover;
}
